<div class="formulario-container" id="comentarios">
  <!-- <h2 class="titulo">NOTAS O COMENTARIOS / NOTES OR COMMENTS</h2> -->
  <h2 class="titulo">DESCRIPCIÓN CONCRETA DE TU EXPERIENCIA/A BRIEF DESCRIPTION OF YOUR EXPERIENCE</h2>
  <form autocomplete="on" class="formulario">  <!-- (ngSubmit)="verificarArreglos($event)" -->
    <div class="fila">
      <div class="columna">
        <mat-form-field class="campo">
          <mat-label>{{ languageTexts.descripcionplaceholder }}</mat-label>
          <textarea
            matInput
            class="mi-textarea"
            placeholder="{{ languageTexts.comentarios }}"
            name="comentario"
            [(ngModel)]="comentario"
            (input)="onInputChange()"
            (keydown)="preventExtraWords($event)"
            (paste)="handlePaste($event)"
            required
          ></textarea>
            <mat-hint align="end" class="hint-grande">
              {{ wordCount }} / 100 palabras
            </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <h3 class="campo">{{ languageTexts.indicacion }}</h3>

<div class="row-fields">

  <div class="lip">
    <mat-form-field>
      <mat-select
        placeholder="{{ languageTexts.formatos }}"
        name="formatoHoja"
        [(ngModel)]="formatoHoja"
      >
        <mat-option value="Formato 1">
          {{ languageTexts.formato1 }}
        </mat-option>
        <mat-option value="Formato 2">
          {{ languageTexts.formato2 }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="lip">
    <mat-form-field style="margin-right: 10px">
      <mat-select
        placeholder="{{ languageTexts.estilos }}"
        name="disenoHoja"
        [(ngModel)]="disenoHoja"
      >
        <mat-option value="Diseño de una columna">
          {{ languageTexts.estilo1 }}
        </mat-option>
        <mat-option *ngIf="formatoHoja !== 'Formato 2'" value="Diseño de dos columnas">
          {{ languageTexts.estilo2 }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</div>




  </form>
  <button mat-raised-button class="btazul" (click)="verificarArreglos($event)" style="margin-right: 10px;">Generar WORD</button>
  <button mat-raised-button class="btazul" (click)="openPdfViewer()">Visualizar documento / View document</button>
</div>

