.formulario-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .titulo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .formulario {
    width: 100%; /* Ajustar el formulario para que ocupe todo el ancho */
  }
  
  .fila {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .columna {
    flex-basis: calc(100%);
    margin-bottom: 20px;
  }
  
  .campo {
    width: 100%;
  }
  
  .mat-form-field .mat-input-element {
    background-color: transparent !important;
  }

  .mi-textarea {
    height: 200px;
  }  
  
  .imprimir {
    display: none; /* Oculta el elemento en la vista del navegador */
  }

  .lip {
    display: flex;
    align-items: center; /* Alinear verticalmente los elementos en el centro si es necesario */
  }
  /* styles.css o styles.scss */
.btazul {
  background-color: #33CEFF ; /* Cambia el color de fondo */
  color: black ; /* Cambia el color del texto a negro */
}

.hint-grande {
  font-size: 16px; /* puedes subir a 18px o más */
  font-weight: 500;
}


.row-fields {
  display: flex;
  align-items: center;
  gap: 10px; /* espacio entre campos */
}

  
  @media print {
    .imprimir {
      display: block;
    }
    /* Estilos específicos para la impresión */
    body {
      font-family: Arial, sans-serif;
      font-size: 12px;
      /* Otros estilos de impresión */
    }
  }