<div class="formulario-container" id="conocimiento-total">
    <h2 class="titulo">CONOCIMIENTO TECNICO / TECHNICIAL KNOWHOW</h2>
    <form autocomplete="on" class="formularios">
      <div class="fila">
        <h3 class="titulo">{{ languageTexts.indicaConocimiento }}</h3>
      </div>

      <div class="fila">
        <div class="columna">
          <mat-form-field class="campo">
            <mat-label>{{ languageTexts.conocimientoplaceholder }}</mat-label>
            <input matInput placeholder="{{ languageTexts.conocimiento }}" name="conocimiento" required [(ngModel)]="conocimiento">
            <mat-error *ngIf="!conocimiento">{{ languageTexts.obligatorio }}</mat-error>
          </mat-form-field>
        </div>

      </div>

      <button mat-raised-button color="primary" class="boton" (click)="guardarConocimiento()">{{ languageTexts.guardarCono }}</button>
    </form>

    <div class="example-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="masterToggle()"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="toggleSelection(row)"
              [checked]="selection.isSelected(row)"
              [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="conocimiento">
          <th mat-header-cell *matHeaderCellDef> {{ languageTexts.conocimiento }} </th>
          <td mat-cell *matCellDef="let element"> {{ element.conocimiento }} </td>
        </ng-container>
        <ng-container matColumnDef="eliminar">
          <th mat-header-cell *matHeaderCellDef>  {{ languageTexts.eliminar }}  </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="eliminarElemento(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <app-conocimientos
    *ngFor="let category of categories"
    [categoryTitle]="category.title">
    </app-conocimientos>

</div>



