<div class="formulario-container" id="experiencia">
    <h2 class="titulo">EXPERIENCIA LABORAL / WORK EXPERIENCE</h2>
    <form autocomplete="on" class="formulario" #experienciaForm="ngForm" (ngSubmit)="guardarExperiencia(experienciaForm)">
      <div class="fila">
        <div class="columna">
          <mat-form-field class="campo">
            <mat-label>{{ languageTexts.empresa }}</mat-label>
            <input matInput placeholder="{{ languageTexts.empresa }}" name="empresa" required [(ngModel)]="empresa" #empresaModel="ngModel">
            <mat-error *ngIf="empresaModel.invalid && (empresaModel.dirty || empresaModel.touched)">
              {{ languageTexts.obligatorio }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="columna">
          <mat-form-field class="campo">
            <mat-label>{{ languageTexts.puesto }}</mat-label>
            <input matInput placeholder="{{ languageTexts.puesto }}" name="puesto" required [(ngModel)]="puesto" #puestoModel="ngModel">
            <mat-error *ngIf="puestoModel.invalid && (puestoModel.dirty || puestoModel.touched)">
              {{ languageTexts.obligatorio }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="columna">
          <mat-form-field class="campo">
            <input matInput [matDatepicker]="pickerInicio" name="fechaIni" placeholder="{{ languageTexts.fechaIniU }}" required [(ngModel)]="fechaInicio" #fechaInicioModel="ngModel">
            <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
            <mat-datepicker #pickerInicio></mat-datepicker>
            <mat-error *ngIf="fechaInicioModel.invalid && (fechaInicioModel.dirty || fechaInicioModel.touched)">
              {{ languageTexts.obligatorio }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="columna">
          <mat-form-field class="campo">
            <input matInput [matDatepicker]="pickerFin" name="fechaFin" placeholder="{{ languageTexts.fechaFinU }}" required [(ngModel)]="fechaFin" #fechaFinModel="ngModel">
            <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
            <mat-datepicker #pickerFin></mat-datepicker>
            <mat-error *ngIf="fechaFinModel.invalid && (fechaFinModel.dirty || fechaFinModel.touched)">
              {{ languageTexts.obligatorio }}
            </mat-error>
          </mat-form-field>

          <!-- Agregar botón para establecer la fecha actual -->
          <span style="padding-right: 5px;">{{ languageTexts.fechaActual }}</span>
          <button mat-button matSuffix type="button" (click)="setFechaActual()">{{ languageTexts.actual }}</button>
        </div>
<!-- 
        <div class="columna-completa">
          <mat-form-field class="campo">
            <mat-label>{{ languageTexts.descripcionInd }}</mat-label>
            <textarea matInput placeholder="{{ languageTexts.descripcion }}" name="descripcion" required [(ngModel)]="descripcion" #descripcionModel="ngModel" rows="6"></textarea>
            <mat-error *ngIf="descripcionModel.invalid && (descripcionModel.dirty || descripcionModel.touched)">
              {{ languageTexts.obligatorio }}
            </mat-error>
          </mat-form-field>
        </div> -->
      <div class="columna-completa">

        <!-- TEXTAREA BONITO -->
        <mat-form-field class="campo-full" appearance="outline">
          <mat-label>{{languageTexts.descripcionInd}}</mat-label>
          <textarea
            matInput
            rows="4"
            placeholder="{{languageTexts.descripcion}}"
            [(ngModel)]="descripcion"
            name="descripcion"
            required
          ></textarea>
          <mat-hint class="hint-grande">
           {{languageTexts.descripcionLaboralplaceholder}}
          </mat-hint>
        </mat-form-field>

        <!-- BOTÓN DE AGREGAR -->
        <div class="contenedor-boton">
          <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="agregarDescripcion()"
          >
            + {{languageTexts.btnDescripcionLaboral}}
          </button>
        </div>

        <!-- LISTA DE DESCRIPCIONES -->
        <div *ngIf="descripciones.length > 0" class="lista-descripciones">

          <div class="titulo-lista">
            Descripciones agregadas
          </div>

          <ul>
            <li *ngFor="let desc of descripciones; let i = index" class="item-descripcion">
              
              <span class="texto-descripcion">
                • {{ desc }}
              </span>

              <button mat-icon-button color="warn" (click)="eliminarDescripcion(i)">
                <mat-icon>delete</mat-icon>
              </button>

            </li>
          </ul>

        </div>


      </div>
      </div>
      <button mat-raised-button color="primary" class="boton" type="submit">{{ languageTexts.guardarExp }}</button>
    </form>

    <div class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="empresa">
            <th mat-header-cell *matHeaderCellDef style="width: 150px;"> {{ languageTexts.empresa }} </th>
            <td mat-cell *matCellDef="let element" style="width: 150px;"> {{ element.empresa }} </td>
          </ng-container>

          <!-- Definición de las columnas -->
          <ng-container matColumnDef="puesto">
            <th mat-header-cell *matHeaderCellDef style="width: 100px;"> {{ languageTexts.puesto }} </th>
            <td mat-cell *matCellDef="let element" style="width: 100px;"> {{ element.puesto }} </td>
          </ng-container>

          <ng-container matColumnDef="fechaIni">
            <th mat-header-cell *matHeaderCellDef style="width: 100px;"> {{ languageTexts.fechaInicio }} </th>
            <td mat-cell *matCellDef="let element" style="width: 100px;"> {{ element.fechaIni | date:'dd-MM-yyyy' }} </td>
          </ng-container>

          <ng-container matColumnDef="fechaFin">
            <th mat-header-cell *matHeaderCellDef style="width: 100px;"> {{ languageTexts.fechaFin }} </th>
            <td mat-cell *matCellDef="let element" style="width: 100px;"> {{ element.fechaFin | date:'dd-MM-yyyy' }} </td>
          </ng-container>

          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef style="width: 200px;"> {{ languageTexts.descripcion }} </th>
            <!-- <td mat-cell *matCellDef="let element" style="width: 200px;"> {{ element.descripcion }} </td> -->
             <td mat-cell *matCellDef="let element">
              <ul>
                <li *ngFor="let desc of element.descripciones">
                  {{ desc }}
                </li>
              </ul>
            </td>
          </ng-container>


          <!-- Columna para el botón de eliminar -->
          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef style="width: 40px;"> {{ languageTexts.eliminar }} </th>
            <td mat-cell *matCellDef="let element" style="width: 40px;">
              <button mat-icon-button color="warn" (click)="eliminarElemento(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Definir el orden de las columnas -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
</div>
