<div mat-dialog-content style="max-height: 80vh; overflow: auto;">
  <app-pdf-one-content *ngIf="tipo === 'Diseño de una columna' && formato==='Formato 1'"></app-pdf-one-content>
  <app-pdf-one-content *ngIf="tipo === 'Diseño de una columna' && formato==='Formato 2'"></app-pdf-one-content>
  <app-pdf-two-content *ngIf="tipo === 'Diseño de dos columnas' && formato==='Formato 1'"></app-pdf-two-content>
</div>

<mat-dialog-actions>
  <button mat-button (click)="onClose()">Cerrar / Close</button>
</mat-dialog-actions>
